*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timezone{
    display: flex;
    margin: 100px auto;
    justify-content: center;
    flex-direction: column;

    width: 60%;

    gap: 50px;
}